.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.body {
  min-height: 100vh;
  padding: 80px 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  overflow: auto;

  &__listing {
    flex: 1 auto;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 1rem;
  }

  &__cart {
    flex-basis: 300px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 1rem;
    margin-left: 1rem;
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
